/* Styles da Home e generalizados */

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #eee;
    width: 100%;
}
h1{font-size: 18px;} 
p{font-size: 16px;}


/*Style mais especificos da home*/
#mae{
    /*rgb(212, 212, 212)*/
    background-color: rgb(255, 255, 255);
    width: 1200px;
    margin: auto;
}

a:link , a:visited, a:active{
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(61, 61, 61);
}

a:hover{
    text-decoration: underline;
}

header{
    padding: 10px;
    width: 100%;
    background-color: rgb(61, 61, 61);
}

ul{
    padding: 8px 0 8px 0;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

li{
    display: inline-block;
    padding: 15px 0px;
    text-align: center;
    border-style:double;
    border-width: 3px;
    width: 16%;
    margin: 0 auto;
}

li:hover{
    transform: scale(1.2);
    transition: 700ms;
}

#logo a{
    margin-right: 90%;
    text-decoration: none;
    display: flex;
    text-align: center;
}

#logo-imagem{
    height: 80px;
    padding-left: 20px;
}

#texto-logo{
    color: crimson;
    font-size: 3.6rem;
    font-weight: bold;
    font-style: oblique;
}

.imagensfodas{
    width: 100%;
    display: flex;
}

.pedaco{
    width: 30%;
    margin-left: 2.5%;
    background-color: #eee;
}

.content{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.finalzim{

}

footer{
    background-color: rgb(61, 61, 61);
    padding: 50px;
}
